<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/staff" class="navbar-brand">Spa Admin </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li> -->
        <li routerLinkActive="active"><a routerLink="/staff">Staffs</a></li>
        <!-- <li routerLinkActive="active"><a routerLink="/outlet">Outlet</a></li> -->
        <!-- <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Login</a></li>
        </ng-template>

        <li><a
          style="cursor: pointer;"
          (click)="onLogout()"
          *ngIf="authService.isAuthenticated()">Logout</a></li>

        <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
