<div class="row">
    <div class="col-xs-12">
      <img
        [src]="staff.profile_url"
        alt="{{ staff.name }}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ staff.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage staff <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onEditstaff()">Edit staff</a></li>
          <li><a style="cursor: pointer;" (click)="onDeletestaff()">Delete staff</a></li>
        </ul>
      </div>

      <button
      type="button"
      class="btn btn-primary" (click)="onViewStaffCalander()">
      Calander 
    </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <!-- {{ staff.name }} -->
      <h2>Details </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item">
          Contact - {{ staff.contact }}
        </li>
        <li
        class="list-group-item">
        Email - {{ staff.email }}
      </li>
      </ul>
    </div>
  </div>
  