<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewStaff()">New Staff</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-staff-item
      *ngFor="let staffEl of staffs; let i = index"
      [staff]="staffEl"
      [index]="i"></app-staff-item>
  </div>
</div>

