<a
style="cursor: pointer;"
[routerLink]="[staff.id]"
routerLinkActive="active"
class="list-group-item clearfix">
<div class="pull-left">
  <h4 class="list-group-item-heading">{{ staff.name }}</h4>
  <p class="list-group-item-text">{{ staff.outlet.name }}</p>
</div>
<span class="pull-right">
      <img
        [src]="staff.profile_url"
        alt="{{ staff.name }}"
        class="img-responsive"
        style="max-height: 50px;">
    </span>
</a>
